@model IEnumerable<prj_FUNShare.Models.Product>

@{
    ViewData["Title"] = "asyncTest";
}

<h1>asyncTest</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductIntro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleasedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Times)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntervalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIntro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleasedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Times)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntervalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDetail.FirstOrDefault().OrderDetail.FirstOrDefault().IsAttend)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
