@model IEnumerable<prj_FUNShare.Models.Product>

@{
    ViewData["Title"] = "asyncTest";
}

<h1>asyncTest</h1>

<h1 class=" mb-8">我的訂單</h1>
<div class="tab-content" id="ex-with-icons-content">
        <div class="row g-4" id="div1">
        </div>
</div>

@section Scripts{
    <script>
        const div = document.querySelector('#div1')
        
        // $.ajax({
        //     'url': '@Url.Action("getOrderDetail","api")',
        //     'type':'get',
        //     'datatype':'json'
        // })
        //     .done(function (datas) {
                
        //     })

        console.log(fetch('@Url.Content("/api/getOrderDetail")'));
        fetch('@Url.Content("/api/getOrderDetail")')
            .then(response => {
                console.log(response)
                console.log(response.ok)
            })

        console.log(fetch('@Url.Content("/api/getOrderDetail")'));
        fetch('@Url.Content("/api/getOrderDetail")')
            .then(response => {
                return response.json();
            })
            .then(data => {
                document.querySelector("#div1").innerHTML = data;
            })
    </script>
}

@section Styles{
    <style>

    </style>
}
