@model IEnumerable<prj_FUNShare.Models.Order>


@{
    ViewData["Title"] = "myOrder";
}

<h1>我的訂單</h1>

<h2>未來的體驗課程</h2>

<p>

</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Product.Supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.UnitPrice)
            </th>
            <th>
     @*           @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Address)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().Status.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach( var item in Model)
            {
                var orderDetail = item.OrderDetail.FirstOrDefault();
                if (orderDetail != null && orderDetail.ProductDetail.BeginTime >= DateTime.Today) //這邊等資料庫有未來資料時須修改
                {
                    <tr>
                        <th>
                        @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.Product.ProductName)
                            <p>
                                <img src="~/products/@item.OrderDetail.FirstOrDefault().ProductDetail.Product.ImageList.FirstOrDefault().ImagePath" width="250" height="160" />
                            </p>
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.Product.Supplier.SupplierName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.BeginTime)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.UnitPrice)
                    </th>
                    <th>
        
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().Status.Description)
                    </th>
                </tr>
                }
            }
        }
    </tbody>
    </table>

    @section Scripts{
        <script>
            

        </script>
    }

<h2>過去的體驗課程</h2>
<p>

</p>
<table class=" table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Product.Supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.UnitPrice)
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Address)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().Status.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                var orderDetail = item.OrderDetail.FirstOrDefault();
                if (orderDetail != null && orderDetail.ProductDetail.BeginTime <= DateTime.Today) //這邊等資料庫有未來資料時須修改
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.Product.ProductName)
                            <p>
                                <img src="~/products/@item.OrderDetail.FirstOrDefault().ProductDetail.Product.ImageList.FirstOrDefault().ImagePath" width="250" height="160" />
                            </p>
                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.Product.Supplier.SupplierName)
                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.BeginTime)
                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.UnitPrice)
                        </th>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().Status.Description)
                        </th>
                    </tr>
                }
            }
        }
    </tbody>
</table>



<h2>取消的體驗課程</h2>
<p>

</p>
<table class=" table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Product.Supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.UnitPrice)
            </th>
            <th>
    @*            @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().ProductDetail.Address)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.FirstOrDefault().Order.Status.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                var orderDetail = item.OrderDetail.FirstOrDefault();
                if (orderDetail != null && /*orderDetail.ProductDetail.BeginTime <= DateTime.Today.AddYears(-1) &&*/ orderDetail.Order.StatusId ==6) //這邊等資料庫有未來資料時須修改
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.Product.ProductName)
                            <p>
                                <img src="~/products/@item.OrderDetail.FirstOrDefault().ProductDetail.Product.ImageList.FirstOrDefault().ImagePath" width="250" height="160" />
                            </p>
                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.Product.Supplier.SupplierName)
                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.BeginTime)
                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().ProductDetail.UnitPrice)
                        </th>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayFor(modelitem => item.OrderDetail.FirstOrDefault().Order.Status.Description)
                        </th>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<h2>正式版面設計</h2>
HTML
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                 alt="Trendy Pants and Shoes"
                 class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="p-5 text-center bg-light mb-5">
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            One of three columns
            <!-- Card -->
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
            <!-- Card -->

        </div>
        <div class="col-md">
            One of three columns
            <!-- Card -->
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
            <!-- Card -->

        </div>
        <div class="col-md">
            One of three columns
            <!-- Card -->
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
            <!-- Card -->

        </div>
    </div>
</div>
<div class="card mb-5"/>


